<%= form_with model: proposition, url: job_application_propositions_path do |f| %>
  <div>
    <%= f.label :message, 'Mensagem' %>
    <%= f.text_field :message %>
  </div>
  
  <%= f.submit "Enviar" %>
<% end %>