<h1>Todas as Propostas</h1>

<dl>

<%@proposition.each do |proposition|%>
 
  
    <dt>Vaga: </dt>
    <dd><%= proposition.job_application.job.name %> </dd>
    <dt>Mensagem: </dt>
    <dd><%= proposition.message %> </dd>
    
    <dt> <%= link_to 'Aceitar', job_application_proposition_accept_path(proposition.id, proposition.job_application.id), method: :patch%> </dt>
    <dt> <%= link_to 'Recusar', job_application_proposition_reject_path(proposition.id, proposition.job_application.id), method: :patch%> </dt>
    
<%end%>
</dl>