<h1>Vagas Aplicadas</h1>
	<dl>
  <% @job_applications.each do |job_application| %>
    <%if job_application.user_id == current_user.id%>
			<dt>Vaga: </dt>
			<dd> <%= link_to job_application.job.name, job_path(job_application.job_id)%> </dd>
			<dt>Situação: </dt>
			<dd> <%= job_application.status %> </dd>
			<dt>Mensagem: </dt>
			<dd> <%= job_application.message %> </dd>
    <%end%>
  <% end %>
  </dl>
<%= link_to "Voltar Para a página Inicial", root_path %>